.Pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  background-color: #181B1D;
  

  button {
    font-family: 'pokemon-ds';
    font-size: 5vw;
    margin: 3vw;
    width: 50vw;
    height: 10vw;
    border-radius: 50px;
    border: 3px solid white;
    transition: width 1s;
    background-color: #CBCBCB;
  }

  .loadMore {
    img {
      border-radius: 100px;
      height: 16vw;
      width: 16vw;
    }
   
  }
}

@media only screen and (min-width: 1024px) {
  .Pokedex{
    width: 70%;
    button{
      width: 20vw;
      height: 5vw;
      font-size: 2.5vw;
      
      &:hover{
        width: 25vw;
        transition: 0.5s;
      }

      &:not( :hover ){
        transition: 0.5s;
      }
    }

    .loadMore {
      img {
        border-radius: 100px;
        height: 12vw;
        width: 12vw;
      }
    }
  }
  
}