.header{
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 7vw;
    overflow: visible;
    background-color: #181B1D;
    padding: 0.5vw;
    img{
      width: 20%;
      height: 7vw;
    }
  }
}